<header class="flex-row-center-center">
    <figure class="flex-column-center-center"><img src="assets/logos/centro-paula-souza-logo.png"
            alt="Logo Centro Paula Souza"></figure>
    <figure class="flex-column-center-center"><img src="assets/logos/fatec-osasco-logo.png" alt="Logo Fatec Osasco">
    </figure>
    <figure class="flex-column-center-center"><img src="assets/logos/etec-embu-logo.png" alt="Logo Etec Embu"></figure>
</header>
<section>
    <router-outlet></router-outlet>
</section>
<footer class="flex-row-center-center">
    <em><small>&copy;2023 FATEC OSASCO. Todos os direitos reservados. </small>
        <u (click)="showCredits()">+ créditos</u></em>
</footer>