* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: white !important;
}

html,
body,
:root {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh !important;
    font-size: 14px;
    letter-spacing: .050rem;
    background: var(--bg-o-dark);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

    --bg-i-dark: #333333;
    --bg-o-dark: #252526;
    --bg-i-dark-sec: #4e4e4e;

    // --bg-i-dark: #181622;
    // --bg-o-dark: #1e1e1e;

    --min-h-main-section: calc(100vh - 100px);

    @media screen and (min-width: 768px) {
        --min-h-main-section: calc(100vh - 120px);
    }
}

.bg-o-dark {
    background-color: var(--bg-o-dark);
}

.bg-i-dark {
    background-color: var(--bg-i-dark);
}

header {
    height: 70px;
    background-color: white;
    justify-content: space-around !important;

    img {
        width: 70px;
    }
}

section {
    min-height: var(--min-h-main-section);
}

footer {
    height: 30px;
    background-color: white;

    em {
        font-size: .83rem;

        small,
        u {
            color: black !important;
            font-weight: bold;
        }
    }
}

input {
    background-color: transparent !important;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// Colors
.p-menubar,
.p-submenubar-header,
.p-menubar-root-list,
.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list,
.p-card,
.p-dialog-content,
.p-toolbar,
.p-datatable .p-datatable-tbody>tr>td {
    background-color: var(--bg-i-dark) !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-header {
    background-color: var(--bg-i-dark-sec) !important;
}

.p-button-primary {
    background-color: #365360 !important;
    border-color: #365360 !important;
}

.p-button-danger {
    background-color: #e00002 !important;
    border-color: #e00002 !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: .5rem !important;
}

.p-column-title {
    font-weight: bold;
    margin-right: 1rem;
}

.p-toolbar,
.p-menu {
    border-radius: 0 !important;
}

.p-toolbar {
    padding: .5rem !important;

    button {
        padding: .3rem !important;
    }
}

.p-datatable .p-datatable-tbody>tr>td:last-child {
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
}

@media screen and (min-width: 768px) {

    header {
        height: 90px;

        img {
            width: 90px;
        }
    }

    footer {
        height: 30px;

        em {
            font-size: 1rem;

        }
    }

    .p-datatable .p-datatable-tbody>tr:last-child {
        border-bottom: 1px solid #dee2e6 !important;
        border-top: none !important;
    }

}

@media screen and (min-width: 500px) {

    // .p-datatable .p-datatable-tbody>tr>td:last-child {
    //     border-bottom: 1px solid #dee2e6 !important;
    //     border-top: none !important;
    // }

}