section {
    height: var(--min-h-main-section);
}

.base-buttons {
    border: solid white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1.5rem;
    cursor: pointer;

    i {
        font-size: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}